n8n/video-generation.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## VIDEO GENERATION",
        "height": 272,
        "width": 1900,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        736
      ],
      "typeVersion": 1,
      "id": "3d30f9e7-b05f-4189-a070-ce7499dc2800",
      "name": "Sticky Note - Video"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -736,
        848
      ],
      "id": "2d8d66fd-f7f8-4aa8-88b3-8efa8f53d2c8",
      "name": "VIDEO"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app0ttB5I3om40Qhz",
          "mode": "list",
          "cachedResultName": "stealing-bones",
          "cachedResultUrl": "https://airtable.com/app0ttB5I3om40Qhz"
        },
        "table": {
          "__rl": true,
          "value": "tblUT9FAM9xipRsyb",
          "mode": "list",
          "cachedResultName": "project",
          "cachedResultUrl": "https://airtable.com/app0ttB5I3om40Qhz/tblUT9FAM9xipRsyb"
        },
        "filterByFormula": "({status} = 'In progress')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -480,
        848
      ],
      "id": "48bf29d0-5022-4292-b725-f1ad3b7dd63a",
      "name": "Airtable - Project",
      "credentials": {
        "airtableTokenApi": {
          "id": "ZseG7AfA1qcyn9JX",
          "name": "Airtable Video Generation API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app0ttB5I3om40Qhz",
          "mode": "list",
          "cachedResultName": "stealing-bones",
          "cachedResultUrl": "https://airtable.com/app0ttB5I3om40Qhz"
        },
        "table": {
          "__rl": true,
          "value": "tbl9haZzGQry8j55H",
          "mode": "list",
          "cachedResultName": "scenes",
          "cachedResultUrl": "https://airtable.com/app0ttB5I3om40Qhz/tbl9haZzGQry8j55H"
        },
        "filterByFormula": "({status} = 'Toreview')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -320,
        848
      ],
      "id": "7b04aaf8-ce2c-42eb-b389-ead72239c2f3",
      "name": "Airtable - Scenes",
      "credentials": {
        "airtableTokenApi": {
          "id": "ZseG7AfA1qcyn9JX",
          "name": "Airtable Video Generation API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "679a0849-7020-4552-bad3-e4255a8531a6",
              "leftValue": "={{ $('Airtable - Project').item.json.scenes_folder_created }}",
              "rightValue": "Not Created",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        848
      ],
      "id": "359fe715-44f9-48f1-a46b-eb1eeca7f45c",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Airtable - Project').item.json.project_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xVUgCkTu1NDKvkedVTzIyQcefFvXdl2Z",
          "mode": "list",
          "cachedResultName": "Scenes Images",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xVUgCkTu1NDKvkedVTzIyQcefFvXdl2Z"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        752
      ],
      "id": "d6460a79-3163-4e9c-9538-c11918dc2c5a",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0VXQ0KPxq6lYgsAO",
          "name": "Navire de l'Est"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app0ttB5I3om40Qhz",
          "mode": "list",
          "cachedResultName": "stealing-bones",
          "cachedResultUrl": "https://airtable.com/app0ttB5I3om40Qhz"
        },
        "table": {
          "__rl": true,
          "value": "tblUT9FAM9xipRsyb",
          "mode": "list",
          "cachedResultName": "project",
          "cachedResultUrl": "https://airtable.com/app0ttB5I3om40Qhz/tblUT9FAM9xipRsyb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable - Project').item.json.id }}",
            "scenes_folder_created": "Created"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "yt_short",
              "displayName": "yt_short",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                },
                {
                  "name": "To Review",
                  "value": "To Review"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "core_image",
              "displayName": "core_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "core_elements",
              "displayName": "core_elements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scenes_folder_created",
              "displayName": "scenes_folder_created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not Created",
                  "value": "Not Created"
                },
                {
                  "name": "Created",
                  "value": "Created"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "creative_direction",
              "displayName": "creative_direction",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "voice_id",
              "displayName": "voice_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "music_file",
              "displayName": "music_file",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        192,
        752
      ],
      "id": "55c12e7d-b7a9-4970-99ec-ed306c971673",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "ZseG7AfA1qcyn9JX",
          "name": "Airtable Video Generation API Key"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Airtable - Project').item.json.project_name }}",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1xVUgCkTu1NDKvkedVTzIyQcefFvXdl2Z",
            "mode": "list",
            "cachedResultName": "Scenes Images",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1xVUgCkTu1NDKvkedVTzIyQcefFvXdl2Z"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        864
      ],
      "id": "5573bce5-797f-4fbd-8997-b8c1f36296e1",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0VXQ0KPxq6lYgsAO",
          "name": "Navire de l'Est"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dcfd4de7-cf6a-49ce-b8b3-3478f7f9c001",
              "leftValue": "={{ $('Airtable - Scenes').item.json.video_scene && $('Airtable - Scenes').item.json.video_scene.length ? 'present' : '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        848
      ],
      "id": "6e811103-2df7-4ccb-88ef-0fb1fdb848f7",
      "name": "If Video Missing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://naviredelest--image-generator-generate-video.modal.run/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_name\": \"{{ $('Airtable - Scenes').item.json.project_name }}\",\n  \"scene_number\": {{ $('Airtable - Scenes').item.json.scene_number }},\n  \"script_action\": \"{{ $('Airtable - Scenes').item.json.script_action }}\",\n  \"start_image_url\": \"{{ $('Airtable - Scenes').item.json.start_image[0].url }}\",\n  \"end_image_url\": \"{{ $('Airtable - Scenes').item.json.end_image[0].url }}\",\n  \"duration_seconds\": 5,\n  \"aspect_ratio\": \"9:16\"\n}",
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        752
      ],
      "id": "2ea66bd9-adf7-4e16-98cb-9f8afea39d8c",
      "name": "POST scene video",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Q0MHV0GVKDSqvcwE",
          "name": "Modal"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $('POST scene video').item.binary.data }}",
        "name": "={{ $('Airtable - Scenes').item.json.project_name + \" - Scene \" + $('Airtable - Scenes').item.json.scene_number + \" - Veo Clip - \" + $now.toFormat('yyyy-MM-dd_HH-mm-ss') + \".mp4\" }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        928,
        752
      ],
      "id": "74f62a33-e8bc-4e5f-b96f-94e7082c5ff7",
      "name": "Upload scene video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0VXQ0KPxq6lYgsAO",
          "name": "Navire de l'Est"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app0ttB5I3om40Qhz",
          "mode": "list",
          "cachedResultName": "stealing-bones",
          "cachedResultUrl": "https://airtable.com/app0ttB5I3om40Qhz"
        },
        "table": {
          "__rl": true,
          "value": "tbl9haZzGQry8j55H",
          "mode": "list",
          "cachedResultName": "scenes",
          "cachedResultUrl": "https://airtable.com/app0ttB5I3om40Qhz/tbl9haZzGQry8j55H"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable - Scenes').item.json.id }}",
            "video_scene": "={{ [{\"url\": \"https://drive.google.com/uc?export=view&id=\" + $('Upload scene video').item.json.id}] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "video_scene",
              "displayName": "video_scene",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1104,
        752
      ],
      "id": "f1f7fc68-6bc4-45bc-bf2f-0ac57d2377ea",
      "name": "Add Scene Video",
      "credentials": {
        "airtableTokenApi": {
          "id": "ZseG7AfA1qcyn9JX",
          "name": "Airtable Video Generation API Key"
        }
      }
    }
  ],
  "connections": {
    "VIDEO": {
      "main": [
        [
          {
            "node": "Airtable - Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Project": {
      "main": [
        [
          {
            "node": "Airtable - Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Scenes": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If Video Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Video Missing": {
      "main": [
        [
          {
            "node": "POST scene video",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "POST scene video": {
      "main": [
        [
          {
            "node": "Upload scene video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload scene video": {
      "main": [
        [
          {
            "node": "Add Scene Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Scene Video": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef2144965021bf8c18ae7d09f35c796f1147526d76e423d22edc7aeeb77653a1"
  }
}
